NET "CLK_100MHz" LOC = P126;
TIMESPEC TS_CLK = PERIOD "CLK_100MHz" 100 MHz HIGH 50%;

NET "LED[0]" LOC = P119;
NET "LED[1]" LOC = P118;
NET "LED[2]" LOC = P117;
NET "LED[3]" LOC = P116;
NET "LED[4]" LOC = P115;
NET "LED[5]" LOC = P114;
NET "LED[6]" LOC = P112;
NET "LED[7]" LOC = P111;

NET "SW1" LOC = P124 | PULLUP;
#NET "SW2" LOC = P123 | PULLUP;
#NET "SW3" LOC = P121 | PULLUP;
#NET "SW4" LOC = P120 | PULLUP;

NET "PWM[0]" LOC = P35;
NET "PWM[1]" LOC = P34;
NET "PWM[2]" LOC = P33;
NET "PWM[3]" LOC = P32;
NET "PWM[4]" LOC = P30;
NET "PWM[5]" LOC = P29;
NET "PWM[6]" LOC = P27;
NET "PWM[7]" LOC = P26;
NET "DATA[0]" LOC = P24;
NET "DATA[1]" LOC = P23;
NET "DATA[2]" LOC = P22;
NET "DATA[3]" LOC = P21;
NET "DATA[4]" LOC = P17;
NET "DATA[5]" LOC = P16;
NET "DATA[6]" LOC = P15;
NET "DATA[7]" LOC = P14;
NET "ADDRESS[0]" LOC = P12;
NET "ADDRESS[1]" LOC = P11;
NET "ADDRESS[2]" LOC = P10;
