NET "CLK_100MHz" LOC = P126;
TIMESPEC TS_CLK = PERIOD "CLK_100MHz" 100 MHz HIGH 50%;

NET "LED[0]" LOC = P119;
NET "LED[1]" LOC = P118;
NET "LED[2]" LOC = P117;
NET "LED[3]" LOC = P116;
NET "LED[4]" LOC = P115;
NET "LED[5]" LOC = P114;
NET "LED[6]" LOC = P112;
NET "LED[7]" LOC = P111;

NET "SW1" LOC = P124 | PULLUP;
#NET "SW2" LOC = P123 | PULLUP;
#NET "SW3" LOC = P121 | PULLUP;
#NET "SW4" LOC = P120 | PULLUP;

NET "IO[3]" LOC = P35;
NET "IO[4]" LOC = P34;
NET "IO[5]" LOC = P33;
NET "IO[6]" LOC = P32;
NET "IO[7]" LOC = P30;
NET "IO[8]" LOC = P29;
NET "IO[9]" LOC = P27;
NET "IO[10]" LOC = P26;
NET "IO[11]" LOC = P24;
NET "IO[12]" LOC = P23;
NET "IO[13]" LOC = P22;
NET "IO[14]" LOC = P21;
NET "IO[15]" LOC = P17;
NET "IO[16]" LOC = P16;
NET "IO[17]" LOC = P15;
NET "IO[18]" LOC = P14;
NET "IO[19]" LOC = P12;
NET "IO[20]" LOC = P11;
NET "IO[21]" LOC = P10;
NET "IO[22]" LOC = P9;
NET "IO[23]" LOC = P8;
NET "IO[24]" LOC = P7;
NET "IO[25]" LOC = P6;
